body{
	width:100%;
	height:100%;
	background-color:#25383C;
	
	
}

#contenedor {
	width:80%;
	margin:0 auto;
	background-color:white;
	padding: 20px;
	border-radius: 20px;
	margin-top:20px;
	border: 12px solid #3D2A26;
	
}

label {
	margin-left:10px;
	display: inline-block;
    line-height: 1.8;
    vertical-align:middle;
    font-weight:bold;
    
}

form label {
  width: 300px; 
  padding-top:20px;
 }